<div>
  <div class="header">
    <h2>Add New Blog</h2>
  </div>
    <div class="container">
      <form>
        <label>Title</label>
        <input type="text" placeholder="Enter Title">
        <label>Time</label>
        <input type="text" placeholder="Enter Time">
        <label>Description</label>
        <textarea placeholder="Enter Description..."></textarea>
        <label>Full Description</label>
        <textarea placeholder="Enter Full Description..."></textarea>
        <button type="submit">Add New</button>
      </form>
    </div>
</div>



