.form input, form button {
  font-size: 20px;
  background-color: #3e3c3d;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #2775ca;
  outline: none;
  margin-right: 10px;
}

.form button {
  border: 2px solid #2775ca;
  padding: 8px;
  cursor: pointer;
}

.form button:hover {
  background-color: #232323;
}

