ul {
  list-style: none;
}

.container {
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.users-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user {
  display: flex;
  margin: 10px;
  width: 30%;
}

.list-group form {
  display: flex;
  align-items: center;
}

.list-group input {
  margin: 10px 0 0 ;
}

.list-group-item:hover {
  cursor: pointer;
}

.post-header{
  font-size: 28px;
  color: #fff;
}

.post-item {
  font-size: 20px;
}

.comment {
  font-size: 18px;
  font-weight: 500;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
}

.cat {
  width: 100%;
}

.spinner {
  width: 100px;
  height: 32px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
}