$headerBg: url("../img/m-h-day.jpg");
$mainTextColor: #2c2f3c;
$secondaryTextColor: #c0c3ce;
$btnColor: #699900;
$lineColor: #14a0c7;
$bodyBgColor: white;
$bgColor: #21232e;
$bannerColor: #2e5cd6;
$textFamily: 'Hind';
