$headerBg: url("../img/m-h-night.jpg");
$mainTextColor: white;
$secondaryTextColor: #d1d1d1;
$btnColor: #e3ac00;
$lineColor: #ff4e33;
$bodyBgColor: #21232e;
$bgColor: #3b3f50;
$bannerColor: #922c53;
$textFamily: 'Fresca';